<h1> Contactenos</h1>

<main>
  <section class="contact-page-section">
    <div class="contact-content-wrapper">
      <h2>¡Hablemos!</h2>
      <p> Déjanos un mensaje o contáctanos a través de nuestras redes sociales.</p>

      <div class="social-icons-contact">
        <a href="https://wa.me/XXXXXXXXXXX" target="_blank" aria-label="WhatsApp"><i class="fab fa-whatsapp"></i></a>
        <a href="https://facebook.com/tu_pagina_de_facebook" target="_blank" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="https://instagram.com/tu_usuario_instagram" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </section>
</main>