<h1>Nuestros Productos</h1>
<p>Aquí encontrarás una selección de nuestros productos impresos en 3D.</p>

 <div class="products-container"> <div class="product-item">
    <%= image_tag "descarga.jpeg", alt: "Figuras Personalizadas" %>
    <h3>Figuras Personalizadas</h3>
    <p>Soy groot.</p>
    <a href="#" class="btn">Ver Detalles</a>
  </div>
  <div class="product-item">
    <%= image_tag "Rocket.jpg", alt: "Rocket" %>
    <h3>Rocket Impreso</h3>
    <p>Una réplica detallada de un cohete espacial.</p>
    <a href="#" class="btn">Ver Detalles</a>
  </div>
  <div class="product-item">
    <%= image_tag "images.jpeg", alt: "Figuras Varias" %>
    <h3>Variedad de Figuras</h3>
    <p>Explora nuestra colección de pequeñas figuras y adornos.</p>
    <a href="#" class="btn">Ver Detalles</a>
  </div>
</div>
